fastapi==0.109.2
langchain==0.1.7
langchain-community==0.0.20
langchain-core==0.1.22
langchain-google-genai==0.0.9
langsmith==0.0.87
nltk==3.8.1
numpy==1.26.4
pydantic==2.6.1
pydantic_core==2.16.2
qdrant-client==1.7.3
requests==2.31.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
tokenizers==0.15.1
torch==2.2.0
torchvision==0.17.0
tqdm==4.66.1
transformers==4.37.2
uvicorn==0.27.1

